.Dialog-overlay {
  background: rgba(0, 0, 0, 0.8);
  display: grid;
  place-items: center;
}

.Dialog {
  min-width: 335px;
  margin: 15px;
  background-color: white;
  padding: 15px;
  border-radius: 4px;
}

.confirm-grid {
  height: 100px;
  width: 300px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 'header' 'buttons';
  background-color: rgb(0, 0, 255, 0.1);
}

.confirm-grid .header {
  grid-area: 'header';
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 255, 0.1);
}

.confirm-grid .buttons {
  grid-area: 'buttons';
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'delete cancel';
  background-color: rgb(0, 0, 255, 0.1);
}

.confirm-grid .buttons .delete {
  grid-area: 'delete';
  background-color: rgb(0, 0, 255, 0.1);
}

.confirm-grid .buttons .cancel {
  grid-area: 'cancel';
  background-color: rgb(0, 0, 255, 0.1);
}

.add-edit-grid {
  height: 500px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 3fr 1fr;
  grid-template-areas: 'header' 'calibrate' 'nutrient-inputs' 'buttons';
  background-color: rgb(0, 0, 255, 0.1);
}

.add-edit-grid .header {
  grid-area: 'header';
  background-color: rgb(0, 0, 255, 0.1);
  display: flex;
  flex-direction: column;
}

.add-edit-grid .calibrate {
  grid-area: 'calibrate';
  background-color: rgb(0, 0, 255, 0.1);
  display: flex;
  flex-direction: column;
}

.add-edit-grid .nutrient-inputs {
  grid-area: 'nutrient-inputs';
  background-color: rgb(0, 0, 255, 0.1);
  display: flex;
  flex-direction: column;
}


/*



.add-edit-grid .buttons {
  grid-area: 'buttons';
  background-color: rgb(0, 0, 255, 0.1);
}

*/

/*

.add-grid {
  min-height: 500px;
  min-width: 340px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 4fr 1fr;
  grid-template-areas: 'title' 'step1' 'step2' 'finish';
  background-color: rgb(0, 0, 255, 0.1);
}

.add-grid .title {
  grid-area: 'title';
  background-color: rgb(0, 0, 255, 0.1);
}

.add-grid .step1 {
  width: 100%;
  height: 100%;
  grid-area: 'step1';
  background-color: rgb(0, 0, 255, 0.1);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 'name' 'amount';
}

.add-grid .step1 .name {
  grid-area: 'name';
  background-color: rgb(0, 0, 255, 0.1);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'label input';
}

.add-grid .step1 .name .label {
  grid-area: 'label';
  background-color: rgb(0, 0, 255, 0.1);
}

.add-grid .step1 .name .input {
  grid-area: 'input';
  background-color: rgb(0, 0, 255, 0.1);
}

.add-grid .step1 .amount {
  grid-area: 'amount';
  background-color: rgb(0, 0, 255, 0.1);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'label input';
}

.add-grid .step1 .amount .label {
  grid-area: 'label';
  background-color: rgb(0, 0, 255, 0.1);
}

.add-grid .step1 .amount .input {
  grid-area: 'input';
  background-color: rgb(0, 0, 255, 0.1);
}

.add-grid .step2 {
  grid-area: 'step2';
  background-color: rgb(0, 0, 255, 0.1);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(9, 1fr);
  grid-template-areas: 'per' 'macro' 'macro' 'macro' 'macro' 'macro' 'macro' 'macro' 'macro';
}

.add-grid .step2 .per {
  grid-area: "per";
  background-color: rgb(0, 0, 255, 0.1);
}

.add-grid .step2 .macro {
  grid-area: "macro";
  background-color: rgb(0, 0, 255, 0.1);
}

.add-grid .finish {
  grid-area: 'finish';
  background-color: rgb(0, 0, 255, 0.1);
}

*/
