#output {
  background-color: bisque;
  width: 100px;
  height: 100px;
  opacity: .75;
}

#input {
  background-color: aqua;
  width: 100px;
  height: 100px;
  opacity: .75;

}

#popup {
  background-color: red;
  width: 100px;
  height: 100px;
  opacity: .75;
}
