* {
  box-sizing: border-box;
  border: 1px solid black;
}

html {
  min-width: 350px;
  margin: 0px;
  padding: 0px;
}

body {
  min-width: 350px;
  margin: 0px;
  padding: 0px;
}

.sex {
  grid-area: 'sex';
  background-color: rgb(0, 0, 255, 0.1);
  height: 100%;
  width: 100%;
}


.age {
  grid-area: 'age';
  background-color: rgb(0, 0, 255, 0.1);
  height: 100%;
  width: 100%;
}

.age .inner {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  background-color: rgb(0, 0, 255, 0.1);
  height: 100%;
  width: 100%;
}

.help {
  grid-area: 'help';
  background-color: rgb(0, 0, 255, 0.1);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.foods-grid {
  grid-area: 'foods';
  background-color: rgb(0, 0, 255, 0.1);
  height: 100%;
  width: 100%;
  place-self: center;
  display: grid;
  min-width: 0px;
  min-height: 0px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas: 'top' 'list';
}

.top {
  grid-area: 'top';
  background-color: rgb(0, 0, 255, 0.1);
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 3fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'title whitespace clear add';
}

.top .title {
  grid-area: 'title';
  background-color: rgb(0, 0, 255, 0.1);
}

.top .whitespace {
  grid-area: 'whitespace';
  background-color: rgb(0, 0, 255, 0.1);
}

.top .clear {
  grid-area: 'clear';
  background-color: rgb(0, 0, 255, 0.1);
}

.top .add {
  grid-area: 'add';
  background-color: rgb(0, 0, 255, 0.1);
}

.list {
  grid-area: 'list';
  background-color: rgb(0, 0, 255, 0.1);
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.list ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.list li {
  height: 90px;
  background-color: rgb(0, 0, 255, 0.1);
  display: grid;
  grid-template-columns: 2fr 3fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'name whitespace edit delete';
}

.list li .name {
  grid-area: 'name';
  background-color: rgb(0, 0, 255, 0.1);
}

.list li .whitespace {
  grid-area: 'whitespace';
  background-color: rgb(0, 0, 255, 0.1);
}

.list li .edit {
  grid-area: 'edit';
  background-color: rgb(0, 0, 255, 0.1);
}

.list li .delete {
  grid-area: 'delete';
  background-color: rgb(0, 0, 255, 0.1);
}
